<body>
    <div class="container">
        <div class="search">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form #searchForm='ngForm'>
                        <div class="form-group">
                            <label for="user">Github username</label><br>
                            <input type="text" class="form-control" id="user" [(ngModel)]='username' name='username' #user='ngModel' placeholder="Your github username">
                        </div>
                        <button type="submit" class="yes" class="btn btn-primary" (click)='showUserProfile()'>Search</button>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div><br>
        <div *ngIf='response'>
            <div class="row">
                <div class="col-md-6">
                    <div class="details">
                        <h1>{{response.login}}</h1>
                        <p>Name: {{response.name}}</p>
                        <p>Company: {{response.company}}</p>
                        <p>Bio: {{response.bio}}</p>
                        <a href="{{response.html_url}}"><button class="btn btn-warning">View profile</button></a><br><br>
                        <div class="img">
                            <img src={{response.avatar_url}}>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="numbers">
                        <p>Number of repositories: {{response.public_repos}}</p>
                        <p>Followers: {{response.followers}}</p>
                        <p>Following: {{response.following}}</p>
                    </div>
                </div>   
            </div>
            <div class="repos">
                <h1>GITHUB REPOSITORIES</h1>
                <div *ngFor='let project of projects'><br>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card text-white bg-dark mb-3">
                                <div class="card-header">{{project.name|uppercase}}</div>
                                <div class="card-body">
                                    
                                    <p class="card-text">{{project.description}}</p>
                                    <p class="card-text">Created on: {{project.created_at|date}}</p>
                                    <p class="card-text">Updated on: {{project.updated_at|date}}</p>
                                    <a href="{{project.html_url}}"><button class="btn btn-secondary">Check repository</button></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>