<body>
    <div class="container">
        <div class="search">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <form #searchForm='ngForm'>
                        <div class="form-group">
                            <label for="user">Github User</label><br>
                            <input type="text" class="form-control" id="user" [(ngModel)]='username' name='username' #user='ngModel'>
                        </div>
                        <button type="submit" class="yes" class="btn btn-primary" (click)='showUserProfile()'>Search</button>
                    </form>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div><br>
        
    </div>
</body>